# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Binary
*.out

# ctags
.tags
.tags_sorted_by_file

# cmake
build
CMakeFiles
CMakeCache.txt

# os x
.DS_Store

